<div class="row">
    <div class="col-6">
        <div class="mb-3">
            <label for="" class="form-label" for="">Número 1</label>
            <input type="text" class=" form-control" [(ngModel)]="num1" placeholder="">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Número 2</label>
            <input type="text" class=" form-control" [(ngModel)]="num2" placeholder="">
        </div>
        <div>
            <label for="">
                <input type="radio"  class="form-check-input" [(ngModel)]="operacion" value="suma">Suma
                <input type="radio"  class="form-check-input" [(ngModel)]="operacion" value="resta">Resta
                <input type="radio"  class="form-check-input" [(ngModel)]="operacion" value="mult">Multiplicación
                <input type="radio"  class="form-check-input" [(ngModel)]="operacion" value="divi">División
            </label>
            
        </div>
        <div class="mb-3">
            <button (click)="opcion()" class="btn btn-primary" >Calcular </button></div>
        </div>
        <div class="col-6">
            <h2>Resultado es: {{resultado}}</h2>
    </div>
</div>